.App {
  text-align: left;
}

.App-box {
  max-width: 100vh;
  font-size: calc(10px + 2vmin);
  border: 20px solid #fff;
  margin: 50px auto;
  border-radius: 20px;
  padding: 20px 40px;
}

#App-options-list {
  margin-bottom: 50px;
}

.App-list-item {
  display: inline-block;
  margin-right: 15px;
  min-width: 190px;
}

.title {
  font-size: 12px;
  font-weight: 700;
}

.price {
  font-size: 16px;
}

.input-range {
  min-width: 180px;
  margin-left: 0;
}

.loan-amount-value {
  font-size: 20px;
  font-weight: 700;
}

.btn-submit {
  background-color: #8954fa;
  padding: 20px 30px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
